* {
    margin: 0;
    padding: 0;
}
//INICIO PÁGINA DE LOGIN
.bg_horta {
    width: 100%;
    height: 100vh;
    background-image: url(../images/cond_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // filter: blur(3px);
}
.login_area {
    width: 30%;
    height: 600px;
    background-color: #fff9;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -300px;
    border-radius: 10px;
    img {
        width: 40%;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 30%;
    }
    .container {
        width: 60%;
        margin-top: 70px;
        label {
            color: #215732;
        }
        #input {
            background-color: #fff0;
            border: none;
            border-bottom: 2px solid #215732;
            width: 100%;
            outline: none;
            
        }
    }
}
//FINAL ÁREA DE LOGIN
// INICIO TEMPLATE
.top {
    width: 100%;
    height: 60px;
    background-color: rgb(36, 51, 94);

    .brand {
        width: 20%;
        height: 100%;
        float: left;
        margin-left: 10px;
        span {
            color: white;
            line-height: 60px;
            font-size: 20px;
            margin-left: 15%;
        }
    }
    .user_info{
        width: 30%;
        height: 100%;
        float: right;
        margin-right: 3%;
        color: white;
        line-height: 60px;
        a {
            text-decoration: none;
            color: #fff;
        }
        #userInfo {
            display: block;
            width: 25%;
            margin-left: 60%;
            background-image: url('../images/Icons/sort-down.png');
            background-size: 10px;
            background-repeat: no-repeat;
            background-position-x: 85px;
            background-position-y: 25px;
   }
    }

}

.menu {
    width: 15%;
    height: calc(100vh - 60px);
    background-image: url(../images/resid1.jpg);
    background-size: cover;
    background-position-x: -670px;
    position: absolute;
    bottom: 0;
    left: 0;
    .menu_mask {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(36,48,100,0.8),rgba(29,29,29,0.8));
        img {
            margin-left: 35%;
            margin-top: 20px;
        }
        ul {
            list-style: none;
            width:100%;
            margin-top: 20px;
            a {
                color: white;
                text-decoration: none;
                display: block;
            }
            li {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 25%;
                background-repeat: no-repeat;
                background-size: 20px 20px;
                background-position-x: 25px;
                background-position-y: 10px;
                &:hover {
                    background-color: rgba(0, 0, 0,0.3);
                    transition: 0.2s;
                }
                &:nth-child(1){
                    background-image: url(../images/Icons/building.png);
                }
                &:nth-child(2){
                    background-image: url(../images/Icons/users.png);
                }
                &:nth-child(3){
                    background-image: url(../images/Icons/rent.png);
                }
                &:nth-child(4){
                    background-image: url(../images/Icons/schedule.png);
                }
                &:nth-child(5){
                    background-image: url(../images/Icons/reunion.png);
                }
                &:nth-child(6){
                    background-image: url(../images/Icons/exclamation);
                }
                &:nth-child(7){
                    background-image: url(../images/Icons/contract.png);
                }
                &:nth-child(8){
                    background-image: url(../images/Icons/building.png);
                }
                &:nth-child(9){
                    background-image: url(../images/Icons/coffee.png);
                }
                &:nth-child(10){
                    background-image: url(../images/Icons/contract.png);
                }
                &:nth-child(11){
                    background-image: url(../images/Icons/bill.png);
                }
                &:nth-child(12){
                    background-image: url(../images/Icons/faq.png);
                }

            }

        }
    }

}
